black==24.8.0 
casadi==3.5.5 
certifi==2024.8.30 
charset-normalizer==3.3.2 
click==8.1.7 
colorama==0.4.6 
contourpy==1.1.1 
coverage[toml]==7.6.1 
cycler==0.12.1 
exceptiongroup==1.2.2 
fonttools==4.53.1 
idna==3.10 
iniconfig==2.0.0 
kiwisolver
matplotlib
numpy==1.19.5
packaging==24.1 
pathspec==0.12.1 
pillow==10.4.0 
platformdirs==4.3.6 
pluggy==1.5.0 
pyparsing==3.1.4 
pytest-cov==4.1.0 
pytest==8.3.3 
python-dateutil==2.9.0.post0 
python==3.8.10
pyyaml==6.0.2 
requests==2.32.3 
scipy==1.10.1 
six==1.16.0 
tomli==2.0.1 
typing-extensions==4.12.2 
urllib3==2.2.3 
