<?xml version="1.0"?>

<launch>

        <include file="$(find-pkg-share pedestrian_simulator)/launch/ros2_simulation.launch">
                <!-- <arg name="pedestrian_scenario" value="autoware/demo_1.xml"/> -->
                <arg name="pedestrian_scenario" value="autoware/random_area.xml"/>
        </include>
        <!-- several_crossing.xml | crossing_spree.xml | me_4crossing.xml -->

        <include file="$(find-pkg-share lanelets_to_path)/launch/lanelets_to_path.launch"/>

        <!-- <node pkg="rqt_gui" exec="rqt_gui" name="rqt_gui" namespace="" output="log"/> -->

</launch>  
