<?xml version="1.0"?>

<launch>

  <node pkg="mpc_planner_autoware" exec="autoware_planner" name="autoware_planner" respawn="false" output="screen">
    <param from="$(find-pkg-share mpc_planner_autoware)/config/ros2_guidance_planner.yaml"/>
    <remap from="~/input/state" to="/localization/kinematic_state"/>
    <remap from="~/input/steering" to="/vehicle/status/steering_status"/>
    <remap from="~/input/goal" to="/goal_pose"/>
    <remap from="~/input/reference_path" to="roadmap/path_with_lane_id"/>
    <remap from="~/input/obstacles" to="/pedestrian_simulator/trajectory_predictions"/>
    <remap from="~/output/trajectory" to="/planning/scenario_planning/motion_velocity_smoother/trajectory"/>
  </node>

  <include file="$(find-pkg-share pedestrian_simulator)/launch/ros2_simulation.launch">
    <arg name="pedestrian_scenario" value="autoware/several_crossing.xml"/>
  </include>

  <include file="$(find-pkg-share lanelets_to_path)/launch/lanelets_to_path.launch"/>

  <node pkg="rqt_gui" exec="rqt_gui" name="rqt_gui" namespace="" output="log"/>

</launch>  
