<?xml version="1.0"?>

<launch>

  <arg name="gui" default="false" />
  <arg name="project_name" default="" />
  <arg name="pedestrian_scenario" default="random_social/12_corridor.xml" />

  <rosparam command="load" file="$(find mpc_planner_jackalsimulator)/config/guidance_planner.yaml"/>
  <node pkg="mpc_planner_jackalsimulator" type="jackalsimulator_planner" name="jackal_planner" respawn="false" output="screen">
        <remap from="/input/state_pose" to="robot_state"/>
        <remap from="/input/goal" to="/goal_pose"/>
        <remap from="/input/reference_path" to="roadmap/reference"/>
        <remap from="/input/obstacles" to="/pedestrian_simulator/trajectory_predictions"/>
        <remap from="/output/command" to="/cmd_vel"/>
  </node>

  <include file="$(find pedestrian_simulator)/launch/simulation.launch">
    <arg name="pedestrian_scenario" value="$(arg pedestrian_scenario)"/>
  </include>
  <include file="$(find jackal_gazebo)/launch/jackal_world.launch">
    <arg name="gui" value="$(arg gui)" />
  </include>

  <include file="$(find mobile_robot_state_publisher)/launch/mobile_robot_publisher.launch"/>

  <include file="$(find roadmap)/launch/roadmap.launch">
    <arg name="map_file_name" value="maps/straight.xml"/>
  </include>

  <!-- <node pkg="tf2_ros" exec="static_transform_publisher" name="static_map" output="log" args="0 0 0 0 0 0 odom map"/> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpc_planner_jackalsimulator)/rviz/ros1.rviz" output="screen"/>

  <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" output="log"/>

</launch>  
